.cosmetics {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-left: 40px;
}

.pieceSelection * {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.boardColor, .pieceSelection{
    display: flex;
    flex-direction: column;
}

.colorPicker {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.defaultButton {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    text-align: center;
    padding-bottom: 15px;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    width: 37.5rem;
    height: 20rem;
    /* margin-left: 5rem; */
    margin-bottom: 5rem;
    gap: 15px;
}

.item {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.item:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

.image {
    height: 80px;
}

.title {
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.description {
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.selectButton, .defaultButton {
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    cursor: pointer;
}

.selectButton:hover, .defaultButton:hover{
    background-color: rgba(78, 89, 214, 0.521);
}