.body {
    background-color: #DDD0C8;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    height: 30rem;
}

.list, .requests{
    list-style: none;
    padding: 0;
}

.friendsList, .friendRequests {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.listItem, .request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #151111;
    background-color: #989797;
}

.actions {
    display: flex;
    gap: 1rem;
}
