.container {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    height: 20rem;
    width: 20rem;
    margin: 0;
    border: 3px solid black;
    box-shadow: 0 0 1rem yellow;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }

.image {
    object-fit: cover;
    max-height: 85%;
    background: transparent;
    max-width: 85%;
}

.validMoveIndicator {
    border-radius: 50%;
    background-color: red;
    opacity: 0.4;
    height: 20%;
    width: 20%;
}

.nameTimer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 0;
}

.nameRating {
    display: flex;
    align-items: center;
    gap: 3px;
}

.timer {
    color: white;
    border-style: solid;
    border-radius: 10%;
    border-color: black;
    border-width: 3px;
    padding: 1px 10px;
    background-color: grey;
    width: 35px;
}

.enclosingContainer {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 14rem;
    gap: 2rem;
}

.gameSelection {
    background-color: rgb(92, 95, 92);
    width: 25rem;
    border-style: double;
    border-width: 0.4rem;
}

.playerTurn {
    text-align: center;
}

.timeSelection {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.timeSelection, .gridSelection, .modeSelection {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.gridButtons {
    display: flex;
    gap: 10px;
}

.gridButton {
    display: inline-block;
    font-size: 11px;
    border-radius: 5px;
    padding: 8px 20px;
    cursor: pointer;
    color: black;
}

.gridButton:hover {
    background-color: aqua;
}

.modeButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
}

.variantButton {
    display: inline-block;
    font-size: 11px;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: black;
    width: 120px;
}

.variantButton:hover {
    background-color: aqua;
}

.variantDescription {
    display: flex;
    width: 90%;
    gap: 5px;
    /* border: 2px solid rgb(233, 255, 135); */
    border-radius: 5px;
    padding: 5px 5px;
    align-items: center;
}

.gameSelectors {
    position: relative;
    top: 14px;
}

.messageContainer {
    display: flex;
    align-items: center;
    padding-left: 14rem;
    gap: 30px;
}

.message {
    display: flex;
    border: 5px outset #f48080;
    background-color: rgb(197, 227, 252);
    width: 600px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.gameStatus {
    display: flex;
    position: absolute;
    top: 75px;
    /* padding-left: 16rem; */
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    width: 100%
}

.dropDown {
    position: relative;
    display: inline-block;
}

.dropDownMenu {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.localButton, .computerButton {
    background: #333;
}

.onlineGame {
    background-color: #4b77f9;
}

.onlineGame:hover {
    background-color: #9ab2fd;
}

.restartButton {
    background: #79f76b;
}

.restartButton:hover {
    background-color: #97f88c;
}

.localButton, .computerButton, .easyButton, .hardButton, .restartButton, .onlineGame {
    display: inline-block;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    cursor: pointer;
}

.localButton:hover, .computerButton:hover {
    background-color: rgba(78, 89, 214, 0.521);
}

.easyButton {
    width: 100%;
    background: #8cf480;
}

.easyButton:hover {
    background-color: #b0f9a8;
}

.hardButton {
    width: 100%;
    background:#f48080;
}

.hardButton:hover {
    background-color: #f5acac;
}