.container {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    height: 20rem;
    width: 20rem;
    margin: 7rem auto 5rem 15rem;
    border: 3px solid black;
    box-shadow: 0 0 50px yellow;
    background-color: rgb(97, 136, 97);
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }

img {
    max-width: 100%;
    background: transparent;
    height: auto;
}