.root {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(197, 255, 110);
}

.form {
    border-style: solid;
    border-color: rgb(153, 152, 152);
    padding: 3rem;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    height: 87px;
    width: 257px;
}